<div class="dashboard-container">
  <div *ngIf="school$ | async as school; else noSchool">
    <!-- If at least one school exists, show the first school's quick info and list all schools -->
    <div class="welcome-message">
      <h1>Welcome to {{ school.school_name }}</h1>
      <p>
        Account Status:
        <span class="status-" [ngClass]="school.account_status.toLowerCase()">{{
          school.account_status
        }}</span>
      </p>
      <p *ngIf="school.account_status === 'Dormant'" class="dormant-notice">
        Your account is currently dormant. Please purchase SMS credits to
        activate communications.
      </p>
    </div>
    <div class="schools-list">
      <h3>Your Schools</h3>
      <div class="schools-buttons">
        <button
          *ngFor="let s of schools"
          class="school-button"
          (click)="
            router.navigate(['/manage-school'], {
              queryParams: { id: s.school_id }
            })
          "
        >
          {{ s.school_name }}
        </button>
      </div>
    </div>
    <div class="dashboard-grid">
      <a routerLink="/students" class="grid-item">
        <i class="icon fas fa-users"></i>
        <h3>Manage Students</h3>
        <p>Add, edit, and view student information.</p>
      </a>
      <a routerLink="/students" class="grid-item">
        <i class="icon fas fa-money-bill-wave"></i>
        <h3>Manage Fees</h3>
        <p>Track payments and manage fee records for students.</p>
      </a>
      <a routerLink="/communications" class="grid-item">
        <i class="icon fas fa-comments"></i>
        <h3>Send Communications</h3>
        <p>Send bulk SMS messages to parents and students.</p>
      </a>
      <a routerLink="/subscription" class="grid-item secondary">
        <i class="icon fas fa-credit-card"></i>
        <h3>Buy SMS Credits</h3>
        <p>Purchase packages to send communications.</p>
      </a>
    </div>
  </div>

  <ng-template #noSchool>
    <!-- If no school exists -->
    <div class="no-school-container">
      <h2>Welcome to Bigezo Lite</h2>
      <p>
        You have not created a school account yet. Please create one to begin.
      </p>
      <div class="big-cta-wrap">
        <a routerLink="/create-school" class="brand-cta"
          >Create School Account</a
        >
      </div>
    </div>
  </ng-template>
</div>
