<div class="home-container">
    <div class="left-section">
        <div class="image-wrapper">
            <img src="assets/2.png" alt="Bigezo App Preview" />
        </div>
    </div>

    <div class="right-section">

        <div class="content-wrapper">
            <div class="brand apptitle">Bigezo</div>
            <p class="cta">
                <a routerLink="/login" class="cta-button">
                    Let's Go
                </a>
            </p>
            <h3 class="headline">School Management.<br>Simplified.</h3>
            <p class="subtext">
                <span class="admin">ADMINISTRATION</span><span class="students">STUDENTS</span><span
                    class="teachers">TEACHERS</span><span class="canteen">CANTEEN</span><span
                    class="alumni">ALUMNI</span>
            </p>


        </div>
    </div>
</div>